@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype"), url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype"), url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype"), url("../fonts/Open_Sans/OpenSans-LightItalic.ttf") format("truetype") url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype") url("../fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype"), url("../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

$xs-min: 480px !default;
$sm-min: 768px !default;
$md-min: 992px !default;
$lg-min: 1200px !default;
$xs-max: ($sm-min - 1) !default;
$sm-max: ($md-min - 1) !default;
$md-max: ($lg-min - 1) !default;
// Small screen / phoe
$container-phone: 480px !default;
// medium screen / tablet
$container-tablet: 720px !default;
// Medium screen / desktop
$container-desktop: 940px !default;
// Large screen / wide desktop
$container-large-desktop: 1200px !default;
$colpadding: 10px;
body {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: white;
}

.zaga {
  background-image: url('../img/bg-zero.jpg');
  background-size: cover;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  overflow: auto;
}

img {
  width: 100%;
  height: auto;
  opacity: 1;
  max-height: 450px;
}

.grid-container {
  width: 100%;
  max-width: 1200px;
  background: rgba(56, 56, 56, 0.604);
}


/*-- our cleafix hack -- */

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 100%;
  /*-- our gutter -- */
  padding: 5px;
}


/*-- some extra column content styling --*/

[class*='col-']>p {
  padding: 0;
  margin: 0;
  text-align: left;
}

.section {
  text-align: left;
  padding: 10px;
  min-height: 600px;
}

#eventos {
  background-color: rgba(83, 83, 83, 0.5);
}

.odd {
  background-image: url('https://thumb7.shutterstock.com/display_pic_with_logo/168430/168430,1256419470,1/stock-photo-rock-and-roll-music-poster-art-as-background-39517591.jpg');
}

.content {
  background: white;
  opacity: 0.8;
}

.container {
  margin: auto;
  margin-top: 50px;
}

#zagaNav {
  background: #4f4a41;
  text-align: left;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
  z-index: 9999;
  position: fixed;
  #menu {
    z-index: 9999;
    li {
      display: inline;
      padding: 10px;
      cursor: pointer;
      background: #8f8f8f;
    }
    li:hover {
      background: #3f3a3a;
    }
  }
}

.section {
  padding-top: 90px;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */
  padding-top: 30px;
  /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer
{
  color: white;
  width: 100%;
}

@media (min-width:$lg-min) {
  .container {
    width: $container-large-desktop;
  }
  .col-1 {
    width: 15%;
  }
  .col-2 {
    width: 33%;
  }
  .col-3 {
    width: 49%;
  }
  .col-4 {
    width: 65%;
  }
  .col-5 {
    width: 83%;
  }
  .col-6 {
    width: 100%;
  }
  #zagaNav {
    padding: 10px 0 10px 0;
    height: 36px;
    width: 100%;
    #menu {
      li {
        display: inline;
        padding: 10px;
        cursor: pointer;
        background: #8f8f8f;
      }
      li:hover {
        background: #3f3a3a;
      }
    }
  }
  .grid-container {
    padding-top: 20px;
  }
  .respMenu
  {
    display: none;
  }
}

@media (min-width:$md-min) and (max-width:$md-max) {
  .container {
    width: $container-desktop;
  }
  .col-1 {
    width: 15%;
  }
  .col-2 {
    width: 33%;
  }
  .col-3 {
    width: 50%;
  }
  .col-4 {
    width: 65%;
  }
  .col-5 {
    width: 83%;
  }
  .col-6 {
    width: 100%;
  }
}

@media (min-width:$sm-min) and (max-width:$sm-max) {
  .container {
    width: $container-tablet;
  }
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
}

@media (max-width:$xs-max) {
  .container {
    width: $container-phone;
  }
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  #zagaNav {
    #menu {
      z-index: 9000;
      width: 50%;
      height: 250px;
      display: none;
      li {
        display: block;
        padding: 10px;
        cursor: pointer;
        background: #e3e3e3;
      }
      li:hover {
        background: #3f3a3a;
      }
    }
  }
  .grid-container {
    padding-top: 0px;
  }
  .respMenu
  {
    display: block;
    width: 50px;
    background: #ccc;
    cursor: pointer;
    z-index: 9010;
  }
}
